.nav.l--padding-top-l.l--padding-bottom-m
    .nav--inner
        .nav--logo.l--margin-bottom-m
            include logo
        .nav--edition.l--margin-bottom-l.t--family-sansCondensed.t--color-nickel.t--size-xs
            .nav--edition-item.l--padding-left-m.l--padding-right-m U.S. Edition
            .nav--edition-item.l--padding-left-m.l--padding-right-m= new Date().toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'})
            .nav--edition-item.l--padding-left-m.l--padding-right-m  Today's Paper
            .nav--edition-item.l--padding-left-m.l--padding-right-m Video
        .nav--sections.t--family-sans
            .nav--sections-item.l--margin-left-m.l--margin-right-m Home
            .nav--sections-item.l--margin-left-m.l--margin-right-m World
            .nav--sections-item.l--margin-left-m.l--margin-right-m U.S.
            .nav--sections-item.l--margin-left-m.l--margin-right-m Politics
            .nav--sections-item.l--margin-left-m.l--margin-right-m Economy
            .nav--sections-item.l--margin-left-m.l--margin-right-m Business
            .nav--sections-item.l--margin-left-m.l--margin-right-m Tech
            .nav--sections-item.l--margin-left-m.l--margin-right-m Markets
            .nav--sections-item.l--margin-left-m.l--margin-right-m Opinion
            .nav--sections-item.l--margin-left-m.l--margin-right-m Life &amp; Arts
            .nav--sections-item.l--margin-left-m.l--margin-right-m Real Estate
            .nav--sections-item.l--margin-left-m.l--margin-right-m WSJ. Magazine