.share
    .share--icon.share--email
        <svg viewBox="0 0 18 13">
            <path d="M17.588 0L9 6.55.426 0h17.162zM0 1.433l5.51 4.21L0 12.141V1.433zM.727 13l5.667-6.682L9 8.307l2.606-1.988L17.272 13H.727zM18 13h-.001H18zm0-.858l-5.51-6.497L18 1.442v10.7z" fill="#FFFFFF" fill-rule="evenodd"/>
        </svg>
    .share--icon.share--print
        <svg viewBox="0 0 20 18">
            <path d="M15.932 4.152h-3.42V.719h.07l3.35 3.404v.029zm0 2.85H4.065V.719h8.087v3.792h3.78v2.49zM4.065 16.843h11.867v-2.261H4.065v2.261zm13.687-9.841h-1.1V3.828L12.882 0H3.346v7.002H2.251C1.013 7.002 0 7.959 0 9.129v3.326c0 1.168 1.013 2.126 2.25 2.126h1.096v2.981h13.306v-2.981h1.1c1.236 0 2.248-.958 2.248-2.126V9.129c0-1.17-1.012-2.127-2.248-2.127z" fill="#000000" fill-rule="evenodd"/>
        </svg>
    .share--icon.share--facebook
        <svg viewBox="0 0 9 18">
            <path d="M8.04 9.004H5.522V18H1.779V9.004H0V5.83h1.78v-2.06C1.78 2.3 2.482 0 5.55 0H8.32v3.095H6.295a.76.76 0 0 0-.794.865V5.83H8.35l-.31 3.173z" fill="#000000" fill-rule="evenodd"/>
        </svg>
    .share--icon.share--twitter
        <svg viewBox="0 0 17 14">
            <path d="M14.886 3.492v.456C14.886 8.62 11.466 14 5.215 14A9.375 9.375 0 0 1 0 12.41a6.8 6.8 0 0 0 .81.046 6.66 6.66 0 0 0 4.222-1.493c-1.452-.056-2.711-1.047-3.136-2.47.212.04.427.059.643.059.303 0 .605-.042.896-.126C1.84 8.079.7 6.633.708 4.963v-.037c.47.272.998.424 1.539.44C.749 4.313.292 2.26 1.196.649c1.712 2.2 4.265 3.542 7.01 3.686a3.65 3.65 0 0 1-.088-.805C8.106 1.595 9.627.016 11.516 0c.943 0 1.842.403 2.48 1.112a6.648 6.648 0 0 0 2.188-.858 3.521 3.521 0 0 1-1.495 1.954 6.6 6.6 0 0 0 1.955-.56 7.077 7.077 0 0 1-1.758 1.844" fill="#000000" fill-rule="evenodd"/>
        </svg>
    .share--icon.share--text
        <svg viewBox="0 0 19 18">
            <path d="M18.158 17.215c-.684-.037-.665-.151-.968-1.423L14.455 4.154h-.228L11.494 15.43c-.277 1.145-.362 1.55-.698 1.705l-.323-.02c-.896-.05-.87-.2-1.268-1.866L5.622 0h-.299L1.741 14.777C1.219 16.94 1.219 17.09 0 17.14v.398h3.955v-.398l-.397-.025c-1.618-.099-1.618-.298-1.095-2.562L3.067 12h3.14l.783 3.399c.324 1.393.398 1.641-.995 1.716l-.422.025v.398H13.183v-.303l-.303-.02c-1.234-.075-1.234-.227-.836-1.955l.335-1.414h2.646l.474 2.06c.248 1.062.305 1.253-.758 1.31l-.323.019v.303h4.044v-.303l-.304-.02zM4.652 5.274s1.114 4.73 1.35 5.803H3.284l1.367-5.803zm9.063 2.904s.872 3.712 1.104 4.745h-2.222l1.118-4.745z" fill="#000000" fill-rule="evenodd"/>
        </svg>
    .share--icon.share--save
        <svg viewBox="0 0 10 18">
            <path d="M0 1.566C0 .7.64 0 1.433 0h7.134C9.36 0 10 .706 10 1.566V18l-5-5.25L0 18V1.566z" fill="#000000" fill-rule="nonzero"/>
            </svg>
    .share--icon.share--link
        <svg viewBox="0 0 16 16">
            <path d="M6.084 8.229L7.166 9.31l-5.413 5.415L.67 13.643 6.084 8.23zM13.662.65l1.083 1.083-5.413 5.413L8.25 6.064 13.662.651zm1.083 4.332c.434.434.672 1.01.672 1.623s-.238 1.19-.672 1.623L8.25 14.725a2.278 2.278 0 0 1-1.623.673A2.28 2.28 0 0 1 5 14.725l-.541-.541 1.083-1.082.541.542a.787.787 0 0 0 1.083 0l6.496-6.497a.766.766 0 0 0 0-1.081l-.542-.542 1.082-1.083.542.542zM1.212 10.936l-.54-.542a2.3 2.3 0 0 1 0-3.248L7.166.651c.867-.868 2.38-.868 3.248 0l.541.542-1.082 1.082-.54-.542a.762.762 0 0 0-.543-.224.757.757 0 0 0-.542.224L1.753 8.23a.766.766 0 0 0 0 1.083l.541.542-1.082 1.082z" fill="#000000" fill-rule="evenodd"/>
        </svg>