:root {
    --c--jet: #222;
    --c--coal: #333;
    --c--nickel: #666;
    --c--moon: #999;
    --c--silver: #ccc;
    --c--smoke: #ebebeb;
    --c--snow: #f4f4f4;
    --c--white: #fff;
    --c--red: #ec0404;
    --c--green: #0b8a00;
    --c--green-light: #2eb921;
    --c--glow: #fffaf1;
    --c--blue: #0274b6;
    --c--yellow: #fec832;
}

.c--bg-jet { background: var(--c--jet); }
.c--bg-coal { background: var(--c--coal); }
.c--bg-nickel { background: var(--c--nickel); }
.c--bg-moon { background: var(--c--moon); }
.c--bg-silver { background: var(--c--silver); }
.c--bg-smoke { background: var(--c--smoke); }
.c--bg-snow { background: var(--c--snow); }
.c--bg-white { background: var(--c--white); }
.c--bg-red { background: var(--c--red); }
.c--bg-green { background: var(--c--green); }
.c--bg-green-light { background: var(--c--green-light); }
.c--bg-glow { background: var(--c--glow); }
