@font-face {
    font-family: Retina;
    src:
        url(../fonts/Retina-Book.woff2) format('woff2'),
        url(../fonts/Retina-Book.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Retina;
    src:
        url(../fonts/Retina-BookItalic.woff2) format('woff2'),
        url(../fonts/Retina-BookItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Retina;
    src:
        url(../fonts/Retina-Light.woff2) format('woff2'),
        url(../fonts/Retina-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Retina;
    src:
        url(../fonts/RetinaNarr-LightItalic.woff2) format('woff2'),
        url(../fonts/RetinaNarr-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Retina Narrow';
    src:
        url(../fonts/RetinaNarr-Book.woff2) format('woff2'),
        url(../fonts/RetinaNarr-Book.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Narrow';
    src:
        url(../fonts/RetinaNarr-BookItalic.woff2) format('woff2'),
        url(../fonts/RetinaNarr-BookItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Retina Narrow';
    src:
        url(../fonts/RetinaNarr-Light.woff2) format('woff2'),
        url(../fonts/RetinaNarr-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Retina Narrow';
    src:
        url(../fonts/RetinaNarr-LightItalic.woff2) format('woff2'),
        url(../fonts/RetinaNarr-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Escrow Condensed';
    src:
        url(../fonts/EscrowCond-Bold.woff2) format('woff2'),
        url(../fonts/EscrowCond-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Escrow Condensed';
    src:
        url(../fonts/EscrowCond-BoldItalic.woff2) format('woff2'),
        url(../fonts/EscrowCond-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Exchange;
    src:
        url(../fonts/Exchange-Book.woff2) format('woff2'),
        url(../fonts/Exchange-Book.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Exchange;
    src:
        url(../fonts/Exchange-BookItalic.woff2) format('woff2'),
        url(../fonts/Exchange-BookItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Exchange;
    src:
        url(../fonts/Exchange-Medium.woff2) format('woff2'),
        url(../fonts/Exchange-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Exchange;
    src:
        url(../fonts/Exchange-MediumItalic.woff2) format('woff2'),
        url(../fonts/Exchange-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
}

:root {
    --t--family-condensed: 'Escrow Condensed';
    --t--family-serif: 'Exchange';
    --t--family-sans: 'Retina';
    --t--family-sans-condensed: 'Retina Narrow';
    --t--size-xl: 56px;
    --t--size-l: 30px;
    --t--size-m: 22px;
    --t--size-s: 16px;
    --t--size-xs: 12px;
}

.t--family-condensed { font-family: var(--t--family-condensed); }
.t--family-serif { font-family: var(--t--family-serif); }
.t--family-sans { font-family: var(--t--family-sans); }
.t--family-sansCondensed { font-family: var(--t--family-sans-condensed); }

.t--weight-light { font-weight: 300; }
.t--weight-normal { font-weight: 400; }
.t--weight-medium { font-weight: 500; }

.t--transform-uppercase { text-transform: uppercase; }

.t--align-center { text-align: center; }

.t--color-jet { color: var(--c--jet); }
.t--color-coal { color: var(--c--coal); }
.t--color-nickel { color: var(--c--nickel); }
.t--color-moon { color: var(--c--moon); }
.t--color-silver { color: var(--c--silver); }
.t--color-smoke { color: var(--c--smoke); }
.t--color-snow { color: var(--c--snow); }
.t--color-white { color: var(--c--white); }

.t--size-xl {
    font-size: var(--t--size-xl);
    line-height: var(--t--size-xl);
}

.t--size-l {
    font-size: var(--t--size-l);
    line-height: var(--t--size-l);
}

.t--size-m {
    font-size: var(--t--size-m);
    line-height: var(--t--size-m);
}

.t--size-s {
    font-size: var(--t--size-s);
    line-height: var(--t--size-m);
}

.t--size-xs {
    font-size: var(--t--size-xs);
    line-height: var(--t--size-xs);
}

.t--kering-m { letter-spacing: 0.5px; }
