include icon

mixin media(mediaObject, params)
    -
        var media = deepmerge.all([
            {
                url: 'http://placehold.it/300/400',
                aspectRatio: 1.5,
                caption: '',
                credit: '',
                type: 'image',
                position: 'first'
            }
        , mediaObject, params || ''])
    .card--media(class=`card--media-${media.type} card--media-placement-${media.position}`)
        if (media.type === 'video')
            .card--media-icon
                +icon('play')
        img(src=media.url class=`${media.position === 'behind' ? 'l--visuallyhidden' : ''}`)