.card,
.card--content,
.card--text,
.card--actions {
    display: flex;
}

.card {
    margin-bottom: var(--l--space-l);
}

.card--image img {
    width: 100%;
    height: auto;
}

.card--vertical {
    flex-direction: column;
}

.card--horizontal {

    & .card--content {
        border-bottom: 0;
    }

    &.card--has-actions .card--text :nth-last-child(2) {
        margin-bottom: auto;
    }

    &.card--no-actions .card--text {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    & .card--actions {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
}

.card--content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card--text {
    flex-direction: column;
}

.card--actions {
    justify-content: space-between;
}

.card--s {

    & .card--headline,
    & .card--summary {
        display: inline;
    }

    & .card--headline {
        margin-right: 0.5em;
    }

    & .card--text {
        display: block;
    }
}

.card--first {

    &.card--vertical .card--content {
        flex-direction: column-reverse;
    }

    &.card--horizontal {
        & .card--content {
            flex-direction: row-reverse;
        }

        & .card--image {
            flex: 1 0 35%;
            margin-right: 1rem;
        }
    }

    &.card--vertical {
        & .card--image {
            margin-bottom: var(--l--space-m);
        }
    }
}

.card--last {
    &.card--horizontal {
        & .card--content {
            flex-direction: row;
        }

        & .card--image {
            flex: 1 0 35%;
            margin-left: 1rem;
        }
    }

    &.card--vertical {
        & .card--content {
            flex-direction: column;
        }

        & .card--image {
            margin-top: var(--l--space-m);
        }
    }
}

.card--text-center {
    text-align: center;

    & .card--byline {
        justify-content: center;
    }
}

.card--byline-avatar,
.card--byline-attribution,
.card--byline-divider,
.card--byline-timestamp {
    display: inline-block;
}

.card--byline-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.25em;
}

.card--byline-timestamp {
    color: var(--c--coal);
}

.card--trending {
    display: flex;
}

.card--trending-icon .icon {
    width: 14px;
    height: 14px;
    fill: currentColor;
}

.card--ahed-title {
    position: relative;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        width: 3px;
        height: 3px;
        background: rgba(0, 0, 0, 0.4);
        transform: rotate(45deg);
        outline: 1px solid rgba(0, 0, 0, 0.4);
        outline-offset: 1px;
    }

    &::before { left: -2px; }
    &::after { right: -2px; }
}

.card--ahed-asterisk {

    & .icon {
        display: inline-block;
        width: 15px;
        height: 15px;

        &:not(:last-of-type) {
            margin-right: 15px;
        }
    }
}

.card--leder-ornament {
    position: relative;
    width: 100%;
    height: 1px;
    margin: var(--l--space-m) auto var(--l--space-l);
    max-width: 140px;
    background: currentColor;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -3px;
        left: calc(50% - 3px);
        width: 7px;
        height: 7px;
        transform: rotate(45deg);
        background: currentColor;
    }
}

.card--behind {
    & .card--text {
        width: 100%;
    }
}

.card--image-behind {
    position: relative;
    height: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: var(--c--white);
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

    & .card--byline,
    & .card--summary {
        color: var(--c--snow);
    }
}

.card--image-behind-overlay,
.card--image-behind-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card--image-behind-overlay {
    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.75) 0%,
            rgba(0, 0, 0, 0.5) 35%,
            rgba(0, 0, 0, 0) 55%,
            rgba(0, 0, 0, 0) 100%
        );
}

.card--image-behind-content {
    display: flex;
    padding: var(--l--space-xl) var(--l--space-l) var(--l--space-l);
    flex-direction: column;
}

.card--image-behind-headline-bottom {
    & .card--image-behind-content {
        justify-content: flex-end;
    }

    & .card--image-behind-overlay {
        background:
            linear-gradient(
                to top,
                rgba(0, 0, 0, 0.75) 0%,
                rgba(0, 0, 0, 0.5) 35%,
                rgba(0, 0, 0, 0) 55%,
                rgba(0, 0, 0, 0) 100%
            );
    }
}