.card,
.card--content,
.card--actions {
    display: flex;
}

.card {
    margin-bottom: var(--l--space-l);
}

.card--image img {
    width: 100%;
    height: auto;
}

.card--horizontal {
    flex-direction: row;
}

.card--vertical {
    flex-direction: column;
}

.card--content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card--actions {
    justify-content: space-between;
    margin-bottom: var(--l--space-l);
}

.card--s {

    & .card--headline,
    & .card--summary {
        display: inline;
    }

    & .card--headline {
        margin-right: 0.5em;
    }
}

.card--left {
    flex-direction: row-reverse;
}

.card--top {

    & .card--content {
        flex-direction: column-reverse;
    }

    & .card--image {
        margin-bottom: var(--l--space-m);
    }
}

.card--text-center {
    text-align: center;

    & .card--byline {
        justify-content: center;
    }
}

.card--byline {
    display: flex;
    align-items: center;
}

.card--byline-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.25em;
}
