.card {
    display: flex;
}

.card--image img {
    width: 100%;
    height: auto;
}

.card--horizontal {
    flex-direction: row;
}

.card--vertical {
    flex-direction: column;
}

.card--actions {
    display: flex;
    margin: var(--l--space-m) 0;
    padding: var(--l--space-m) 0;
    border-top: 1px solid var(--c--snow);

    & .icon {
        width: 24px;
        height: 24px;
        fill: var(--c--silver);
    }
}

.card--small {

    &.card--right {
        & .card--text {
            flex: 0 1 auto;
            margin-right: var(--l--space-m);
        }

        & .card--image {
            flex: 2 0 auto;
        }
    }

    & .card--headline,
    & .card--summary {
        display: inline;
    }
}

.card--left {
    flex-direction: row-reverse;
}

.card--top {
    flex-direction: column-reverse;

    & .card--image {
        margin-bottom: var(--l--space-m);
    }

    & .card--actions {
        order: -1;
    }
}
