.card,
.card--content,
.card--text,
.card--actions {
    display: flex;
}

.card {
    margin-bottom: var(--l--space-l);
}

.card--image img {
    width: 100%;
    height: auto;
}

.card--vertical {
    flex-direction: column;
}

.card--horizontal {

    & .card--content {
        border-bottom: 0;
    }

    &.card--has-actions .card--text :nth-last-child(2) {
        margin-bottom: auto;
    }

    & .card--actions {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
}

.card--content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card--text {
    flex-direction: column;
}

.card--actions {
    justify-content: space-between;
}

.card--s {

    & .card--headline,
    & .card--summary {
        display: inline;
    }

    & .card--headline {
        margin-right: 0.5em;
    }

    & .card--text {
        display: block;
    }
}

.card--first {

    &.card--vertical .card--content {
        flex-direction: column-reverse;
    }

    &.card--horizontal {
        & .card--content {
            flex-direction: row-reverse;
        }

        & .card--image {
            flex: 1 0 35%;
            margin-right: 1rem;
        }
    }

    &.card--vertical {
        & .card--image {
            margin-bottom: var(--l--space-m);
        }
    }
}

.card--text-center {
    text-align: center;

    & .card--byline {
        justify-content: center;
    }
}

.card--byline {
    display: flex;
    align-items: center;
}

.card--byline-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.25em;
}

.card--trending {
    display: flex;
}

.card--trending-icon .icon {
    width: 14px;
    height: 14px;
    fill: currentColor;
}
