.marketData--inner {
    display: flex;
    margin: 0 auto;
    max-width: var(--l--grid-width);
    justify-content: space-between;
}

.marketDataCard--graph svg {
    width: 100%;
}

.marketDataCard {
    display: flex;
    border-bottom: 1px solid var(--c--smoke);
    flex-direction: column;
    justify-content: space-between;
}

.marketDataCard--table,
.marketDataCard--graph {
    flex: 0 1 49%;
}

.marketDataCard--table table {
    width: 100%;
    table-layout: auto;
}
