.strap {
    display: flex;
    border-bottom: 1px solid var(--c--smoke);
    border-top: 1px solid var(--c--jet);
    flex: 1 0 auto;
}

.strap:not(:first-child) {
    margin-top: var(--l--space-xl);
}

.strap--title {
    flex: 1 0 auto;
}

.strap--arrow {
    flex: 0 1 auto;
}