:root {
    --expanded-size: 50em;
}

.whatsNews {
    grid-area: col1;

    & .card {
        margin-bottom: var(--l--space-l);
    }
}

.whatsNews--title {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: flex-end;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #fffaf1ff 0%, #fffaf1ff 80%, #fffaf100 100%);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        width: 3px;
        height: 3px;
        background: rgba(0, 0, 0, 0.4);
        transform: rotate(45deg);
        outline: 1px solid rgba(0, 0, 0, 0.4);
        outline-offset: 1px;
    }

    &::before { left: -2px; }
    &::after { right: -2px; }
}

.whatsNews--title-text {
    color: var(--c--blue);
    flex: 1 0 auto;
}

.whatsNews--title-icon svg {
    width: 24px;
    height: 24px;
    flex: 0 1 auto;
    margin-left: 5px;
    fill: rgba(0, 0, 0, 0.5);

    &:hover {
        fill: var(--c--blue);
        background: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}

.is-wn-expanded {
    grid-template: 'col1 col1 col2' 'col4 col4 col3' / 3fr 7fr 3fr;

    & .t--size-xl {
        font-size: var(--t--size-l);
        line-height: var(--t--size-l);
    }

    & .whatsNews {
        & .whatsNews--title {
            margin: 0 auto var(--l--space-xl);
            max-width: var(--expanded-size);
        }

        & .t--size-m {
            font-size: 1.5em;
            line-height: 1.4;
        }

        & .t--size-s {
            font-size: 1.2em;
            line-height: 1.4;
        }

        &.l--padding-m {
            padding: var(--l--space-l);
        }

        & .card {
            margin: 0 auto var(--l--space-l);
            max-width: var(--expanded-size);
        }

        & .marketDataCard {
            margin: 0 auto var(--l--space-l);
            max-width: var(--expanded-size);
            flex-direction: row;
        }

        & .whatsNews--caughtUp {
            margin: 0 auto;
            max-width: var(--expanded-size);
        }

        & .t--size-xs {
            font-size: 1em;
        }
    }
}

.whatsNews--caughtUp {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);

    & .t--size-xs {
        line-height: 1.3em;
    }
}

.whatsNews--caughtUp-icon {
    width: 32px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    fill: var(--c--green);
}
