@import 'global/reset';
@import 'global/color';
@import 'global/layout';
@import 'global/type';
@import 'components/marketData';
@import 'components/ticker';
@import 'components/nav';
@import 'components/card';
@import 'components/icon';
@import 'components/whatsNews';
@import 'components/strap';
@import 'components/button';
@import 'components/newsBrief';
@import 'components/share';
@import 'components/fadeOut';
@import 'layouts/article';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: var(--t--family-serif);
    color: var(--c--coal);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
