extends ../layouts/default

include ../components/card
include ../components/strap
include ../components/column

block content
    - var ahed = locals.articles.filter((article) => article.flashline === 'The A-hed' || article.flashline === 'The A-Hed')
    - var business = locals.articles.filter((article) => article.category === 'Business')
    - var life = locals.articles.filter((article) => article.storyType === 'Life')
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Spotlight Seven')
        .l--grid-row
            +column({
                span: 3,
                borders: {
                    right: 'light'
                },
                repeat: {
                    data: locals.articles.slice(1,4),
                    cardConfig: {
                        media: false,
                        byline: false
                    }
                }
            })
                +card(locals.articles[0], {
                    headline: {
                        size: 'l',
                    },
                    byline: false,
                    media: false
                })

            +column({span: 5})
                +card(locals.articles[4], {
                    headline: {
                        size: 'l',
                    },
                    byline: false,
                })
                +card(locals.articles[5], {
                    headline: {
                        size: 'l',
                    },
                    byline: false,
                    media: false
                })
                +card(locals.articles[6], {
                    media: false,
                    borders: false,
                    byline: false
                })

            +column({
                span: 3,
                borders: {
                    left: 'light'
                },
<<<<<<< HEAD
                    repeat: {
                        data: locals.articles.slice(7,12),
                        cardConfig: {
                            summary: false,
                            byline: false,
                            timestamp: false,
                            borders: false,
                            bullets: false,
                            actions: false
                        }
=======
                 repeat: {
                    data: locals.articles.slice(7,11),
                    cardConfig: {
                        summary: false,
                        byline: false,
                        timestamp: false,
                        borders: false,
                        bullets: false,
                        actions: false,
                        media: {
                            caption: false,
                            credit: false
                        }
                    }
>>>>>>> d2505636c8bbe1d1ec08c8dadd47d239feb1d4da
                }
            })

    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Package')
        .l--grid-row
            +column()
                +card(locals.articles[0], {
                    orientation: 'horizontal',
                    headline: {
                        size: 'l',
                    },
                    borders: false
                })
        .l--grid-row
            +column({span: 2, borders: {
                right: 'heavy'
            }})
                +card(locals.articles[0], {
                    headline: {
                        size: 'xl',
                    },
                    borders: {
                        top: 'heavy',
                        bottom: 'light'
                    },
                    bullets: false,
                    actions: false,
                })
                .l--grid
                    .l--grid-row
                        +column({
                            borders: {
                                right: 'light'
                            }
                        })
                            +card(locals.articles[1], {
                                media: false,
                                actions: false,
                                borders: false
                            })
                        +column()
                            +card(locals.articles[2], {
                                media: false,
                                actions: false,
                                borders: false
                            })
            +column()
                +card(locals.articles[3], {
                    headline: {
                        size: 'l',
                    },
                    borders: {
                        top: 'heavy',
                        bottom: 'light'
                    },
                    bullets: false
                })
                +card(locals.articles[4], {
                    actions: false,
                    headline: {
                        size: 's'
                    },
                    media: false,
                    bullets: false,
                    byline: false,
                    timestamp: false,
                    summary: false
                })
                +card(locals.articles[5], {
                    actions: false,
                    headline: {
                        size: 's'
                    },
                    media: false,
                    bullets: false,
                    byline: false,
                    timestamp: false,
                    summary: false,
                    borders: {
                        bottom: 'heavy'
                    }
                })
                +card(business[1], {
                    actions: false,
                    byline: false,
                    media: false,
                    headline: {
                        size: 'm',
                    }
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Business')
        .l--grid-row
            +column({
                span: 2,
                borders: {
                    right: 'light'
                }
            })
                +card(business[0], {
                    headline: {
                        size: 'xl',
                    }
                })
            +column({justified: true})
                +card(business[1], {
                    actions: false,
                    byline: false,
                    headline: {
                        size: 'l',
                    }
                })
                +card(business[2], {
                    actions: false,
                    media: false,
                    byline: false
                })
                +card(business[3], {
                    actions: false,
                    media: false,
                    byline: false
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Enterprise')
        .l--grid-row
            +column({span: 3})
                +card(ahed[0], {
                    textAlignment: 'center',
                    headline: {
                        size: 'l',
                        ornament: 'ahed',
                        text: 'The Empty Toilet Paper Roll Torments Families. Procter & Gamble Has an Answer.'
                    },
                    flashline: false,
                    media: {
                        url: 'https://si.wsj.net/public/resources/images/HC-GX416_Paper__G_20191016101019.jpg',
                        position: 'last'
                        },
                    summary: 'For decades, companies have tried to ease the chore of changing roles by rolling out ever-larger sizes. Now it isn’t clear what the limit is; ‘I would buy it if it lasted a year’'
                })
            +column({span: 4})
                +card(life[1], {
                    headline: {
                        size: 'xl',
                        ornament: 'leder',
                        text: 'Inside Facebook’s Botched Attempt to Start a New Cryptocurrency'
                    },
                    media: {
                        url: 'https://images.wsj.net/im-117201/IM'
                    },
                    summary: 'With libra, the social-media giant promised to change payments world-wide. Instead, major partners bolted after lawmakers and regulators challenged its plans, an early sign of how Washington is putting Facebook on a tight leash.',
                    textAlignment: 'center',
                    flashline: 'Markets',
                    bullets: [
                        {"title":"Mastercard, Visa, eBay Drop Out of Payments Network","type":"story"}
                    ]
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Overlays')
        .l--grid-row
            +column()
                +card(locals.articles[12], {
                    colorTheme: 'inverted',
                    media: {
                        position:'behind',
                        aspectRatio: 1.15
                    },
                    headline: {
                        size: 'l',
                    },
                    byline: false,
                    timestamp: false,
                    bullets: false
                })
                .l--grid
                    .l--grid-row
                        +column()
                            +card(life[1], {
                                colorTheme: 'inverted',
                                media: {
                                    position: 'behind',
                                    aspectRatio: 0.66
                                },
                                summary: false,
                                bullets: false
                            })
                        +column()
                            +card(life[2], {
                                colorTheme: 'inverted',
                                media: {
                                    position: 'behind',
                                    aspectRatio: 0.66
                                },
                                summary: false,
                                bullets: false
                            })
            +column()
                +card(life[3], {
                    colorTheme: 'inverted',
                    media: {
                        position: 'behind',
                        aspectRatio: 1
                    },
                    headline: {
                        size: 'xl',
                    },
                    textAlignment: 'center',
                    bullets: false,
                })
                +card(life[4], {
                    colorTheme: 'inverted',
                    headline: {
                        size: 'l',
                    },
                    media: {
                        position: 'behind',
                        aspectRatio: 1.66
                    },
                    byline: false,
                    timestamp: false,
                })
    .l--grid.l--padding-top-xl
        .l--grid-row
            +column({span: 3})
                +card(locals.articles[1], {
                    headline: {
                        size: 'l',
                    },
                    media: {
                        iconType: 'play',
                        position: 'behind',
                        iconPosition: 'lowerLeft',
                    },
                    colorTheme: 'inverted',
                    borders: false,
                    byline: false,
                    bullets: false
                })
            +column()
                +card(locals.articles[10], {
                    media: {
                        iconType: 'play'
                    },
                    actions: false
                })
    .c--bg-jet
        .l--grid.l--margin-top-xl.l--padding-top-xl.l--padding-bottom-xl
            .l--grid-row
                +column({
                    span: 2,
                    colorTheme: 'inverted'
                    })
                    +card(life[1], {
                        headline: {
                            size: 'l',
                        },
                        byline: false,
                        timestamp: false,
                        colorTheme: 'inverted',
                        borders: false,
                        media: {
                            iconType: 'play',
                            iconPosition: 'lowerLeft',
                            position: 'behind'
                        },
                        bullets: false
                    })
                +column({
                    colorTheme: 'inverted',
                    repeat: {
                        data: life.slice(2,7),
                        cardConfig: {
                            colorTheme: 'inverted',
                            actions: false,
                            orientation: 'horizontal',
                            media: {
                                iconType: 'play',
                            },
                            summary: false,
                            byline: false,
                            borders: false,
                            bullets: false
                        }
                    }
                })