extends ../layouts/default

include ../components/card
include ../components/strap

block content
    - var news = locals.news
    - var opinion = locals.opinion
    include ../partials/marketDataStrip
    include ../partials/nav
    .l--grid.l--margin-top-xl
        include ../partials/whatsNews
        .column
            +card(news[0],
                {
                size: 'xl',
                mediaPlacement : 'middle'
            })
            +card(locals.news[1],
                {
                size: 'l',
                mediaPlacement : 'middle'
            })
        .column
            +card(news[2], {image: false, actions: false})
            +card(news[3], {image: false, actions: false})
            +card(news[4], {image: false, actions: false})
            +strap('Opinion')
            +card(opinion[0], {
                image: false, 
                actions: false
            })
            +card(opinion[1], {
                image: false, 
                actions: false
            })
            +card(opinion[2], {
                image: false, 
                actions: false
            })