extends ../layouts/default

include ../components/card
include ../components/strap
include ../components/column

block content
    - var ahed = locals.articles.filter((article) => article.flashline === 'The A-hed' || article.flashline === 'The A-Hed')
    - var business = locals.articles.filter((article) => article.category === 'Business')
    - var life = locals.articles.filter((article) => article.storyType === 'Life')
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Spotlight Eight')
        .l--grid-row
            +column({
                span: 3,
                borders: {
                    right: 'light'
                }
            })
                +card(locals.articles[0], {
                    size: 'xl',
                    media: false,
                })
                +card(locals.articles[1], {
                    media: false,
                    borders: {
                        bottom: 'heavy'
                    }
                })
                +card(locals.articles[2], {
                    media: false
                })
                +card(locals.articles[3], {
                    media: false,
                    borders: false
                })
            
            +column({span: 5})
                +card(locals.articles[4], {
                    size: 'l'
                })
                +card(locals.articles[5], {
                    size: 'l',
                    media: false
                })
                +card(locals.articles[6], {
                    media: false,
                    borders: false,
                })

            +column({
                span: 2,
                borders: {
                    left: 'light'
                }
            })
                +card(locals.articles[7], {
                    summary: false,
                    byline: false,
                    timestamp: false,
                    borders: false,
                    bullets: false,
                    actions: false
                })
                +card(locals.articles[8], {
                    summary: false,
                    byline: false,
                    timestamp: false,
                    borders: false,
                    bullets: false,
                    actions: false
                })
                +card(locals.articles[9], {
                    summary: false,
                    byline: false,
                    timestamp: false,
                    borders: false,
                    bullets: false,
                    actions: false
                })
                +card(locals.articles[10], {
                    summary: false,
                    byline: false,
                    timestamp: false,
                    borders: false,
                    bullets: false,
                    actions: false
                })
                +card(locals.articles[14], {
                    summary: false,
                    byline: false,
                    timestamp: false,
                    borders: false,
                    bullets: false,
                    actions: false
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Package')
        .l--grid-row
            +column()
                +card(locals.articles[6], {
                    orientation: 'horizontal',
                    size: 'l',
                    borders: false
                })
        .l--grid-row
            +column({span: 2, borders: {
                right: 'heavy'
            }})
                +card(locals.articles[0], {
                    size: 'xl',
                    borders: {
                        top: 'heavy',
                        bottom: 'light'
                    },
                    bullets: false,
                    actions: false,
                    media: false
                })
                .l--grid
                    .l--grid-row
                        +column({
                            borders: {
                                right: 'light'
                            }
                        })
                            +card(locals.articles[1], {
                                media: false,
                                actions: false,
                                borders: false
                            })
                        +column()
                            +card(locals.articles[2], {
                                media: false,
                                actions: false,
                                borders: false
                            })
            +column()
                +card(locals.articles[3], {
                    size: 'l',
                    borders: {
                        top: 'heavy',
                        bottom: 'light'
                    },
                    bullets: false
                })
                +card(locals.articles[4], {
                    actions: false,
                    size: 's',
                    media: false,
                    bullets: false,
                    byline: false,
                    timestamp: false,
                    summary: false
                })
                +card(locals.articles[5], {
                    actions: false,
                    size: 's',
                    media: false,
                    bullets: false,
                    byline: false,
                    timestamp: false,
                    summary: false,
                    borders: {
                        bottom: 'heavy'
                    }
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Business')
        .l--grid-row
            +column({
                span: 2,
                borders: {
                    right: 'light'
                }
            })
                +card(business[0], {
                    size: 'xl'
                })
            +column({justified: true})
                +card(business[1], {
                    actions: false,
                    byline: false,
                    size: 'l'
                })
                +card(business[2], {
                    actions: false,
                    media: false,
                    byline: false
                })
                +card(business[3], {
                    actions: false,
                    media: false,
                    byline: false
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Enterprise')
        .l--grid-row
            +column({span: 3})
                +card(ahed[0], {
                    alignment: 'center',
                    size: 'l',
                    ornament: 'ahed',
                    mediaPosition: 'last',
                    flashline: false,
                    media: 'https://cl.ly/02452G19400z/Screen%20Shot%202018-08-13%20at%2012.02.15%20PM.png'
                })
            +column({span: 4})
                +card(life[1], {
                    size: 'xl',
                    alignment: 'center',
                    ornament: 'leder'
                })
    .l--grid.l--margin-top-xl
        .l--grid-row
            +strap('Overlays')
        .l--grid-row
            +column()
                +card(locals.articles[12], {
                    colorTheme: 'inverted',
                    mediaRatio: 1.15,
                    mediaPosition: 'behind',
                    size: 'l',
                    byline: false,
                    timestamp: false,
                    bullets: false
                })
                .l--grid
                    .l--grid-row
                        +column()
                            +card(life[1], {
                                colorTheme: 'inverted',
                                mediaPosition: 'behind',
                                mediaRatio: 0.66,
                                summary: false,
                                bullets: false
                            })
                        +column()
                            +card(life[2], {
                                colorTheme: 'inverted',
                                mediaPosition: 'behind',
                                mediaRatio: 0.66,
                                summary: false
                            })
            +column()
                +card(life[3], {
                    colorTheme: 'inverted',
                    mediaPosition: 'behind',
                    size: 'xl',
                    mediaRatio: 1,
                    alignment: 'center',
                    headlinePosition: 'bottom',
                    bullets: false,
                })
                +card(life[4], {
                    colorTheme: 'inverted',
                    mediaPosition: 'behind',
                    size: 'l',
                    mediaRatio: 1.66,
                    byline: false,
                    timestamp: false,
                })
    .l--grid.l--padding-top-xl
        .l--grid-row
            +column({span: 3})
                +card(locals.articles[1], {
                    size: 'l',
                    mediaType: 'video',
                    colorTheme: 'inverted',
                    mediaPosition: 'behind',
                    borders: false,
                    byline: false,
                    bullets: false
                })
            +column()
                +card(locals.articles[10], {
                    mediaType: 'video',
                    actions: false
                })
    .c--bg-jet
        .l--grid.l--margin-top-xl.l--padding-top-xl.l--padding-bottom-xl
            .l--grid-row
                +column({
                    span: 2,
                    colorTheme: 'inverted'
                    })
                    +card(life[1], {
                        size: 'l',
                        byline: false,
                        timestamp: false,
                        colorTheme: 'inverted',
                        mediaPosition: 'behind',
                        borders: false,
                        mediaType: 'video',
                        bullets: false
                    })
                +column({colorTheme: 'inverted'})
                    +card(life[2], {
                        colorTheme: 'inverted',
                        actions: false,
                        orientation: 'horizontal',
                        mediaType: 'video',
                        summary: false,
                        byline: false,
                        borders: false
                    })
                    +card(life[3], {
                        colorTheme: 'inverted',
                        actions: false,
                        orientation: 'horizontal',
                        mediaType: 'video',
                        summary: false,
                        byline: false,
                        bullets: false,
                        borders: false
                    })
                    +card(life[4], {
                        colorTheme: 'inverted',
                        actions: false,
                        orientation: 'horizontal',
                        mediaType: 'video',
                        summary: false,
                        byline: false,
                        borders: false
                    })