extends ../layouts/default

include ../components/card
include ../components/strap

block content
    - var news = locals.news
    - var opinion = locals.opinion
    include ../partials/marketDataStrip
    include ../partials/nav
    .l--grid.l--margin-top-xl
        include ../partials/whatsNews
        .l--grid-2
            +card(news[0],
                {
                size: 'xl',
                mediaPlacement : 'middle'
            })
            +card(locals.news[1],
                {
                size: 'l',
                mediaPlacement : 'middle'
            })
        .l--grid-3
            +card(news[2], {size: 'l', image: false, actions: false})
            +card(news[3], {image: false, actions: false})
            +card(news[4], {image: false, actions: false})
            +strap('Opinion')
            +card(opinion[0], {
                size: 'l',
                image: false, 
                actions: false
            })
            +card(opinion[1], {
                image: false, 
                actions: false
            })
            +card(opinion[2], {
                image: false, 
                actions: false
            })
        .l--grid-4
            +strap('U.S. News')
            +card(news[5], {size: 'l', actions: true, orientation: 'horizontal'})
            +card(news[6], {size: 'l', actions: true, orientation: 'horizontal'})
            +card(news[7], {size: 'l', actions: true, orientation: 'horizontal'})
            +strap('Life & Arts')
            +card(life[5], {size: 'l', actions: true, orientation: 'horizontal'})
            +card(life[6], {size: 'l', actions: true, orientation: 'horizontal'})
            +card(life[7], {size: 'l', actions: true, orientation: 'horizontal'})
    include ../components/fadeOut