extends ../layouts/default

include ../components/card.pug

block content
    .l--grid.l--margin-top-xl
        +card({
            size : 'large',
            title : 'Former Fiat Chrysler CEO Sergio Marchionne Dies',
            summary : 'Sergio Marchionne, who engineered a merger of the auto industry’s weakest companies—Fiat and Chrysler—and turned the combination into a cash-generating machine, died at the age of 66.',
            byline : "Matthew Ström"
        })
        +card({
            image : 'https://si.wsj.net/public/resources/images/S1-AS120_greece_OR_20180724040157.jpg',
            title : 'Scores Killed as Greek Wildfires Devastate Resorts Near Athens',
            summary : 'Uncontrolled wildfires raged through resort areas near Greece’s capital, killing at least 60 people and injuring dozens more, in the country’s deadliest fire season in more than a decade.',
            byline : 'Nektaria Stamouli'
        })
        +card({
            title : 'Apple Vulnerable in U.S.-China Trade Showdown',
            summary : 'China has been integral to Apple’s remarkable success. But the iPhone is a Chinese export—one that could be subject to tariffs in an escalating trade dispute with the U.S.',
            byline : "Matthew Ström"
        })
        +card({
            title : 'GM Posts Higher Profit, Lowers Outlook Amid Metals Costs',
            summary : 'General Motors’ second-quarter net income rose amid strong results from its in-house finance arm and China, but the auto maker lowered its 2018 profit outlook in the wake of U.S. tariffs on steel and aluminum.',
            timestamp : '16 minutes ago',
            byline : "Mike Colias"
        })
        +card({
            flashline: 'Tech',
            title : 'Silicon Valley to Big Oil: We Can Manage Your Data Better Than You',
            summary : 'Tech companies are pitching their cloud and artificial intelligence expertise to oil and gas producers, but some worry such deals will foster new competitors in a more data-driven energy industry.',
            byline : "Matthew Ström"
        })
        +card({
            orientation: 'horizontal',
            title : 'Eli Lilly to Offer Minority Stake in Animal-Health Business',
            summary : 'Eli Lilly said it is taking public a minority ownership stake in its Elanco Animal Health business, allowing the company ‘even greater focus on the human pharmaceutical business.’',
            byline : "Matthew Ström"
        })