extends ../layouts/default

include ../components/card
include ../components/strap

block content
    - var ahed = locals.articles.filter((article) => article.flashline === 'The A-hed')
    .l--grid.l--margin-top-xl
        .l--grid-col.l--grid-col-span-3
            +card(locals.articles[0], {
                size: 'l',
                image: false,
                actions: false
            })
            +card(locals.articles[1], {
                actions: false,
                image: false
            })
            +card(ahed[0], {
                ornament: 'ahed', 
                size: 'l',
                alignment: 'center',
                mediaPlacement: 'last',
                image: 'https://cl.ly/3G2I0d3t0F0V/Screen%20Shot%202018-08-07%20at%204.56.41%20PM.png'
            })
        .l--grid-col.l--grid-col-span-5
            +card(locals.articles[4], {
                size: 'l',
            })
            +card(locals.articles[5], {
                byline: false,
                actions: false,
                orientation: 'horizontal',
                mediaPlacement: 'last',
                image: false
            })
            +card(locals.articles[6], {
                byline: false,
                actions: false,
                orientation: 'horizontal',
                mediaPlacement: 'last',
                image: false
            })
            +card(locals.articles[18], {
                byline: false,
                actions: false,
                orientation: 'horizontal',
                mediaPlacement: 'last',
                image: false
            })

        .l--grid-col.l--grid-col-span-2
            +card(locals.articles[7], {
                summary: false,
                byline: false,
                actions: false,
                timestamp: false
            })
            +card(locals.articles[8], {
                summary: false,
                byline: false,
                actions: false,
                timestamp: false
            })
            +card(locals.articles[9], {
                summary: false,
                byline: false,
                actions: false,
                timestamp: false
            })
            +card(locals.articles[10], {
                summary: false,
                byline: false,
                actions: false,
                timestamp: false
            })
    .l--grid.l--margin-top-xl
        .l--grid-col.l--grid-col-span-3
            +card(locals.articles[0], {
                size: 'l'
            })
            .l--grid
                .l--grid-col
                    +card(locals.articles[1], {
                        image: false,
                        actions: false
                    })
                .l--grid-col
                    +card(locals.articles[2], {
                        image: false,
                        actions: false
                    })

        .l--grid-col
            +card(locals.articles[3], {
                actions: false
            })
            +card(locals.articles[4], {
                actions: false
            })
    .l--grid.l--margin-top-xl
        .l--grid-col.l--grid-col-span-2
            +card(ahed[0], {
                ornament: 'ahed', 
                size: 'xl',
                alignment: 'center',
                mediaPlacement: 'last',
                image: 'https://cl.ly/3G2I0d3t0F0V/Screen%20Shot%202018-08-07%20at%204.56.41%20PM.png'
            })
        .l--grid-col
            +card(ahed[0], {
                ornament: 'ahed', 
                size: 'l',
                alignment: 'center',
                mediaPlacement: 'last',
                image: 'https://cl.ly/3G2I0d3t0F0V/Screen%20Shot%202018-08-07%20at%204.56.41%20PM.png'
            })
        .l--grid-col
            +card(ahed[0], {
                ornament: 'ahed', 
                size: 'l',
                alignment: 'center',
                mediaPlacement: 'last',
                image: 'https://cl.ly/3G2I0d3t0F0V/Screen%20Shot%202018-08-07%20at%204.56.41%20PM.png'
            })